{% extends 'base.html' %}

{% block title %}Punkty śmieszności Nesi - Historia {% endblock %}

{% block content %}
<div class="container">
    <h1>Historia</h1>
    {% for objs in obj %}
    {% if objs.addvalue == 0 %}
        <div class="row">
            <div class="col-12">
                <p>Start od wartości równej 0</p>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                <p>{{ objs.addedby }} | {{ objs.dateadded }} | {% if objs.addvalue > 0 %} +1 {% else %} -1 {% endif %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Komentarz: {{ objs.comment }}
            </div>
        </div>
        <hr>
    {% endif %}
    {% endfor %}

    <div class="row">
    <div class="col-12" style="text-align:center">
        <h3>Kolejne strony</h3></div>
            <div class="paginator col-12" style="text-align:center">
                {% if obj.has_previous %}
                    <a href="?page=1"><<<</a>
                    <a href="?page={{ obj.number| add:'-1'}}"><</a>
                {% endif %}
                {{ obj.number }}
                {% if obj.has_next %}
                    <a href="?page={{ obj.number| add:'1'}}">></a>
                    <a href="?page={{ obj.paginator.num_pages }}">>>></a>
                {% endif %}
            </div>
    </div>

</div>
{% endblock %}